html, body { height: 100vh; width: 100vw; padding: 0; margin: 0; }
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
main {
    height: 100%;
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    display: block;
    border: 1px #000 solid;
}
